@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
$noto:  "HelveticaNeue-Light", 'Noto Sans Japanese', arial, sans-serif;

.small{
  font-size: 0.75rem;
}
.large{
  font-size: 1.5rem;
}
